@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 70% 10%;
      grid-template-columns: 20% 70% 10%;
  background: #B0C4DE;
  padding: 25px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #logo img {
  width: 35%;
}

nav #link a {
  color: #283e6e;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}

nav #link a:hover {
  color: #f7cd7b;
  border: 5px black;
}

#banner {
  padding: 20px 30px 5px 30px;
}

#banner .slick-prev {
  left: 50px;
  z-index: 2;
}

#banner .slick-next {
  right: 50px;
  z-index: 2;
}

#banner .slick-dots {
  bottom: 120px;
  z-index: 2;
}

#banner .banner1 {
  background-image: url(./img/banner1.jpg);
  height: 100vh;
  text-align: center;
  color: yellow;
  background-size: cover;
}

#banner .banner1:focus {
  outline: none;
}

#banner .banner2 {
  background-image: url(./img/banner2.jpg);
  height: 100vh;
  text-align: center;
  color: yellow;
  background-size: cover;
}

#banner .banner2:focus {
  outline: none;
}

#banner .banner3 {
  background-image: url(./img/banner3.jpg);
  height: 100vh;
  text-align: center;
  color: yellow;
  background-size: cover;
}

#banner .banner3:focus {
  outline: none;
}

#story {
  height: 100vh;
  text-align: center;
}

#story #product-pic {
  padding-top: 100px;
}

#story #product-pic img {
  width: 20%;
}

#drink {
  width: 1280px;
  margin: 0 auto;
}

#drink h1 {
  text-align: center;
  padding: 10px 0;
}

#drink #drink-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#drink #drink-content img {
  width: 100%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#drink #drink-content h3 {
  font-size: 24px;
  padding: 5px 0;
  text-align: center;
}

#drink #drink-content ul {
  text-align: center;
  list-style: none;
}

#drink #drink-content li {
  text-align: center;
}

#drink #drink-content button {
  padding: 10px 0;
  display: block;
  margin: 0 auto;
  width: 30%;
  font-size: 14px;
  background: #3b6a96;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 20px;
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

#drink #drink-content button:hover {
  background: #f1e74e;
  color: #913b3b;
}

#shop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
}

#shop .shop1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#shop .shop1 div:focus {
  outline: none;
}

#shop .shop1 img {
  width: 45%;
  height: 45%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 30px;
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

#shop .shop1 img:hover {
  border-radius: 5px;
}

form {
  background-image: url(./img/43486.jpg);
  border: 2px solid #3f6699;
  opacity: .8;
  margin: 100px auto;
  width: 28%;
  height: 30vh;
  float: left;
}

form #select {
  text-align: center;
}

form #select #city, form #select #area, form #select #input {
  border: 1px solid #146585;
  margin: 20px 5px;
  width: 40%;
  color: #146585;
  padding: 8px;
}

form #select #input {
  width: 90%;
  margin: 5px;
}

form #select #submit_bt {
  background: #146585;
  color: #FFFFFF;
  margin: 10px auto;
  height: 30px;
  width: 50%;
  margin: 15px;
  border: none;
}

footer {
  background-color: #B0C4DE;
  margin-top: 80px;
  padding: 30px;
  text-align: center;
}

#starbucks img {
  width: 90px;
}

.title-big {
  text-align: center;
}

#arrow {
  background-image: url(./img/arrow.png);
  width: 32px;
  height: 32px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */