$box-shawod: 0 5px 10px rgba(0, 0, 0, 0.5);

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

// 導覽列
nav{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    background: #B0C4DE;
    padding: 25px 30px;
    align-items: center; 

    #logo img{
        width: 35%;
    }
     
     #link a{
        color: #283e6e;
        text-decoration: none;
        font-size: 16px;
        padding: 15px 50px;
        transition: 0.3s;
        display: inline-block;
     }

     #link a:hover{
         color: rgb(247, 205, 123);
         border: 5px black;
     }
}

#banner{
     padding: 20px 30px 5px 30px;

    .slick-prev {
        left: 50px;
        z-index: 2;
    }
    .slick-next {
        right: 50px;
        z-index: 2;
    }
    .slick-dots {
        bottom: 120px;
        z-index: 2;
    }

    @for $i from 1 through 3 {
        .banner#{$i} {
            background-image: url(./img/banner#{$i}.jpg);
            height: 100vh;
            text-align: center;
            color: yellow;
            background-size: cover;
            
            &:focus {
                outline: none;
            }
        }
    }
}

// 品牌介紹
#story{
    height: 100vh;
    text-align: center;

    #product-pic{
        padding-top: 100px;

        img{
             width: 20%;
        }
    }
}


// 茶飲介紹
#drink{
    // height: 100vh;
    width: 1280px;
    margin: 0 auto;

    h1{
        text-align: center;
        padding: 10px 0;
    }

    #drink-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        img {
            width: 100%;
            box-shadow: $box-shawod;
        }

        h3{
            font-size: 24px;
            padding: 5px 0;
            text-align: center;
        }

        ul{
            text-align: center;
            list-style: none;
        }

        li{
            text-align: center;
        }

        button{
            padding: 10px 0;
            display: block;
            margin: 0 auto;
            width: 30%;
            font-size: 14px;
            background: rgb(59, 106, 150);
            color: aliceblue;
            border: none;
            border-radius: 5px;
            margin-bottom: 50px;
            margin-top: 20px;
            transform: 0.5s;
            
        }

        button:hover {
            background: #f1e74e;
            color: rgb(145, 59, 59);
        }
    }
}

// 門市資訊

#shop{
    // height: 100vh;
    display: grid;
    grid-template-columns: 50% auto;

    .shop1 img{
         width: 40%;
         padding-top: 20px;
         padding-left: 20px;
    }
}

form{
    border: 2px solid #3f6699;
    // opacity: .8;
    margin-left: 35%;
    margin-top: 15%;
    width: 28%;
    height: 30vh;
    float: left;

    #select{
        text-align: center;


        #city, #area, #input{
            border: 1px solid #146585;
            margin: 20px 5px;
            width: 40%;
            color: #146585;
            padding: 8px;
        }

        #input {
            width: 90%;
            margin: 5px;
        }

        #submit_bt{
            background: #146585;
            color: #FFFFFF;
            margin: 10px auto;
            height: 30px;
            width: 50%;
            margin: 15px;
            border: none;
        }
    }
}



// 頁尾

footer{
    background-color: #B0C4DE;
    margin-top: 80px;
    padding: 30px;
    text-align: center;
}

#starbucks img{
    width: 90px;

}

.title-big{
    text-align: center;
}